--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
python-multipart
pydantic
python-dotenv
fitz
python-docx
requests
faiss-cpu
sentence-transformers==2.2.2
langchain-text-splitters